/*unchecked - выключенная галочка
checked - включенная обыкновенная
grayed - включенная серая галочка*/
img.select-list{
 	 background: url('../images/bars/select-list.png') no-repeat;
	 width:20px;
	 height: 20px;
	 cursor:pointer;
}

img.unchecked{
	background-position:
	  0 0;
}
/*img.unchecked:hover {
   background-position: 0 -22px;
}*/

img.grayed{
	  background-position:
	  0 /* Смещение по горизонтали */
	  -40px; /* Смещение вверх по вертикали */
}
/*img.grayed:hover {
   background-position: 0 -66px;
}*/
img.checked{
	 background-position:
	  0 /* Смещение по горизонтали */
	  -20px; /* Смещение вверх по вертикали */
}
/*img.checked:hover {
   background-position: 0 -110px;
}*/